.container-fliud{
    background-color: #F6F4F0;
}

.Title {
    padding-top:30px;
    padding-left: 20px;
    padding-bottom: 30px;
    color:white;
    background-color: #91989F;
}

.Title h1{
    font-size: 60px;
}

.profile p{
    margin: 00;
    font-size: 30px;
    background-color: #B481BB;
    padding-top:30px;
    padding-left: 20px;
    padding-bottom: 30px;
    color: white;

}

.col-sm-10 div:hover, .profile p:hover{
    background-color: white;
    color: black;
}

.ending{
    padding-top:30px;
    padding-left: 20px;
    padding-bottom: 30px;
    color:white;
    background-color: #F19483;

}

.manu{
	color:#F6C555;
}

.img1{
    width: 100%;

}

.name{
    color:white;
    background-color:#72636E;
    margin: auto;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
}
ul {

    margin: -30px;
    padding: 0;

    background-color:#FCFAF2;
    position: fixed;
    height: 100%;
    width: 100%;

    overflow: auto;
}

li a {
	display:block;
	padding: 30px 20px 30px 50px;
    text-decoration: none;
}

li a.active {
    background-color: #563F2E;
    color: white;
}

li a:hover:not(.active) {
    background-color:#0F2540;
    color: white;
}

